{% extends "base.html" %}
{% block title %}
       <div class="blog-header">
        <h1 class="blog-title"></h1>
        <!--p class="lead blog-description">Record my stuffs</p-->
      </div>
{% endblock %}
{% block beforehead %}

{% endblock %}

{% block body %}
  <div style="margin-bottom:50px;">
      <h1 id="about" class="page-header"><span>YECHENG ZHOU</span></h1>
      <p>My name is Yecheng Zhou(周也程). I'm a QA engineer. Currently, I'm in Beijing. Though I'm working in a traditional software company, I like web stuff very much.</p>

      <h2 id="skill" class="page-header"><span>SKILL</span></h2>
            <ul>
                <li>Python (I develop this website in Python)</li>
                <li>Perl (I met it in my first internship)</li>
                <li>Bash</li>
                <li>Flask</li>
                <li>Linux</li>
                <li>Windows (Did a lot of testing work for windows application)</li>
                <li>SQL Server</li>
                <li>My SQL</li>
                <li>Nginx</li>
                <li>Test</li>
            </ul>

      <h2 id="experience" class="page-header"><span>EXPERIENCE</span></h2>
        <h3><a href="http://www.symantec.com/">Symantec</a></h3>
        <p>My first full time job, my second internship</p>
        <p>2013.1 - now</p>
        <p>Location: Beijing</p>
        <p>Position: SQA Engineer</p>

        <h3><a href="http://www.cadence.com/">Cadence</a></h3>
        <p>My first internship</p>
        <p>2013.8 - 2013.12</p>
        <p>Location: Shanghai</p>
        <p>Position: PV engineer</p>

      <h2 id="education" class="page-header"><span>EDUCATION</span></h2>
        <h3><a href="http://www.dlut.edu.cn/">Dalian University of Technology (Bachelor)</a></h3>
        <p>2009.8 - 2013.7</p>
        <p>Good time, I miss it...</p>
        <p>Major: Software Engineering</p>
        <p>Location: Dalian</p>
  </div>
  <!--
  {% if session.logged_in %}lsmoc
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %} <!-->

  <!-- /.blog-post -->

     <!--ul class="pager">
       <li><a href="#">Previous</a></li>
       <li><a href="#">Next</a></li>
     </ul-->

{% endblock %}

