<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}"-->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    {% if title %}
        <title>{{title}}</title>
    {% else%}
        <title>Yecheng Zhou's Blog</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <!--link href="/static/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}?12" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/blog.css') }}?opsasasa" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://v3.bootcss.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.js') }}"></script>
      <script src="{{ url_for('static', filename='js/self_define.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','Azm_irtZ4sxmaSFKVhbU');
</script>
    {% block beforehead %} {% endblock %}
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
           {% if entry or entries %}
            <a class="blog-nav-item active" href="/blog/">Blogs</a>
           {% else %}
            <a class="blog-nav-item" href="/blog/">Blogs</a>
           {% endif %}

           {% if projects %}
                <a class="blog-nav-item active" href="/projects/">Projects</a>
           {% else %}
                <a class="blog-nav-item" href="/projects/">Projects</a>
           {% endif %}

            {% if entry or entries or projects%}
                <a class="blog-nav-item" href="/about/">Me</a>
            {% else %}
                <a class="blog-nav-item active" href="/about/">Me</a>
            {% endif %}
           <!--
           {% if username %}
            <a class="blog-logout-item" href="/logout/">Logout</a>
            <a class="blog-user-item" href="/{{ username }}/">{{ username }}</a>
           {% else %}
            <a class="blog-login-item" href="/logout/">Sign in</a>
           {% endif %} -->
        </nav>
      </div>
    </div>

    <div class="container">
      {% block title %}{% endblock %}

      <div class="row">

        <div class="col-sm-8 blog-main">

          <!--div class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>


          </div--><!-- /.blog-post -->

            <!--ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
            </ul-->
            {% block body %}{% endblock %}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">


              <div style="text-align:center; margin-left:auto; margin-right:auto;">
                  <img class="img-circle" src="{{ url_for('static', filename='avatar.jpg')}}"alt="Generic placeholder image" style="width: 140px; height: 140px; margin-top:20px; margin-bottom:20px; margin-right:auto; margin-left:auto;">
                  <h2>周也程 Yecheng Zhou</h2>
                  <p>"Your prison is walking through this world all alone" -- Desperado</p>
                  <ol class="list-unstyled" style="text-align:center; margin-left:auto; margin-right:auto;">
              <a href="https://github.com/YechengZhou"><image src="{{ url_for('static', filename='github.png')}}" style="width:20px;height:20px;" ></image></a>
              <a href="http://www.weibo.com/yecheng1126"><image src="{{ url_for('static', filename='weibo.png')}}" style="width:20px;height:20px;" ></image></a>
              <a href="http://instagram.com/zycethan"><image src="{{ url_for('static', filename='instagram.png')}}" style="width:20px;height:20px;" ></image></a>
              <a href="http://cn.linkedin.com/pub/yecheng-zhou/65/b60/455"><image src="{{ url_for('static', filename='linkedin.png')}}" style="width:20px;height:20px;" ></image></a>
               </ol>
                  <p><a class="btn btn-default" href="/about/" >View details &raquo;</a></p>
              </div>


           </div>

          <div class="sidebar-module">


          </div>
          {% if catalogs%}
            <div class="sidebar-module">

                    <ol class="list-unstyled" style="margin-left:5px;">
                      <h3 class="page-header"><span class="glyphicon glyphicon-calendar"></span> 文章归档</h3>

                      {% for this_cata in catalogs %}
                        <li><h4>{{this_cata.date}}  ( <a href="{{this_cata.url}}">{{this_cata.num}}</a> )</h4></li>
                      {% endfor %}
                    </ol>
             </div>
           {%endif%}

           {%if tags%}
            <div class="sidebar-module">

                    <ol class="list-unstyled" style="margin-left:5px;">
                      <h3 class="page-header"><span class="glyphicon glyphicon-tags"></span> 标签</h3>
                      {% for this_tag in tags %}
                        <a href="{{this_tag.url}}" ><span class="label label-info"> {{this_tag.name}}</span></a>
                      {% endfor %}
                    </ol>
             </div>
            {%endif%}

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


    <div class="blog-footer">
      <p>Designed and Developed by: <a href="/about/">YechengZhou</a>
      <p>Powered by :
      <a href="http://getbootstrap.com">Bootstrap</a>
      <a href="http://vuejs.org/">Vue.js</a>
      <a href="http://flask.pocoo.org/">Flask</a>
      <a href="https://swiftype.com/"></a>Swiftype</p>
      <p>
        <a href="#">Back to top</a>
      </p>

      <p>© 2014 Yecheng Zhou — All rights Reserved.</p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
  </body>
</html>
