{% extends "base.html" %}
{% block title %}
       <div class="blog-header">
        <h1 class="blog-title"></h1>
        <!--p class="lead blog-description">Record my stuffs</p-->
      </div>
{% endblock %}

{% block body %}
  <!--
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %} <!-->
  {% for entry in entries %}

     <div class="blog-post">
            <h3 class="blog-post-title">{{ entry.name }}</h3>
            <p class="blog-post-meta">posted at: {{ entry.created_at }}<!--a href="#">{{ entry.user_name }}</a--></p>
            <p>{{ entry.summary|safe }}...</p>
            <a class="btn btn-default" href="/blog/{{ entry.id }}" role="button">more »</a>
     </div>

  {% else %}
    <div class="blog-post">
            <h2 class="blog-post-title">Opps!</h2>

            <p>No articles so far</p>

     </div>
  {% endfor %}


{% endblock %}