{% extends "base.html" %}
{% block title %}
        <div class="blog-header">
        <h1 class="blog-title"></h1>
        <!--p class="lead blog-description">my projects on GitHub</p-->
      </div>
{% endblock %}

{% block body %}
  <!--
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %} <!-->
  {% for project in projects %}

     <div class="jumbotron">
        <h2 color>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <p>
          <a class="btn btn-default" href="{{ project.url }}" role="button">View on Github &raquo;</a>
        </p>
    </div>



  {% endfor %}
  <!-- /.blog-post -->

     <!--ul class="pager">
       <li><a href="#">Previous</a></li>
       <li><a href="#">Next</a></li>
     </ul-->

{% endblock %}
